<form id="review-form" class="js-form form" method="post" action="https://api.staticman.net/v2/entry/donaldboulton/popcorn/gh-pages/reviews">
  <div class="form__spinner mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="review-form[name]" name="fields[name]"/>
      <label class="mdl-textfield__label" for="review-form[name]">Your name</label>
    </div>
  </fieldset>

  <fieldset class="field-group" style="display: none">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="review-form[address]" name="fields[address]"/>
      <label class="mdl-textfield__label" for="review-form[address]">Address</label>
    </div>
  </fieldset>

  <fieldset class="field-group">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" id="review-form[title]" name="fields[title]"/>
      <label class="mdl-textfield__label" for="review-form[title]">review title</label>
    </div>
  </fieldset>

  <fieldset class="field-group">
    <div class="mdl-textfield mdl-textfield--floating-label mdl-js-textfield">
      <textarea class="mdl-textfield__input" name="fields[description]" type="text" rows= "3" id="review-form[description]"></textarea>
      <label class="mdl-textfield__label" for="review-form[description]">Your review. Markdown is allowed.</label>
    </div>
  </fieldset>

  <fieldset class="field-group rating-select">
    <span>Rating:</span>
    <!-- Rating stars -->
    <label class="rating-radio-label" for="review-form[star-1]">
      <svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use>star</svg>
    </label>
    <input class="rating-radio" type="radio" value="1" name="fields[rating]" id="review-form[star-1]" checked>

    <label class="rating-radio-label" for="review-form[star-2]">
      <svg class="icon icon--star_border rating-star rating-radio-star--off"><use xlink:href="{{ 'icons.svg#icon-star_border' | prepend: 'assets/icons/' | relative_url }}"></use>star_border</svg>
      <svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use>star</svg>
    </label>
    <input class="rating-radio" type="radio" value="2" name="fields[rating]" id="review-form[star-2]">

    <label class="rating-radio-label" for="review-form[star-3]">
      <svg class="icon icon--star_border rating-star rating-radio-star--off"><use xlink:href="{{ 'icons.svg#icon-star_border' | prepend: 'assets/icons/' | relative_url }}"></use>star_border</svg>
      <svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use>star</svg>
    </label>
    <input class="rating-radio" type="radio" value="3" name="fields[rating]" id="review-form[star-3]">

    <label class="rating-radio-label" for="review-form[star-4]">
      <svg class="icon icon--star_border rating-star rating-radio-star--off"><use xlink:href="{{ 'icons.svg#icon-star_border' | prepend: 'assets/icons/' | relative_url }}"></use>star_border</svg>
      <svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use>star</svg>
    </label>
    <input class="rating-radio" type="radio" value="4" name="fields[rating]" id="review-form[star-4]">

    <label class="rating-radio-label" for="review-form[star-5]">
      <svg class="icon icon--star_border rating-star rating-radio-star--off"><use xlink:href="{{ 'icons.svg#icon-star_border' | prepend: 'assets/icons/' | relative_url }}"></use>star_border</svg>
      <svg class="icon icon--star rating-star rating-radio-star--on"><use xlink:href="{{ 'icons.svg#icon-star' | prepend: 'assets/icons/' | relative_url }}"></use>star</svg>
    </label>
    <input class="rating-radio" type="radio" value="5" name="fields[rating]" id="review-form[star-5]">
  </fieldset>
  <fieldset class="field-group">
    <div class="g-recaptcha" data-sitekey="6LerR1MUAAAAACWH7t30s7V4aApQZaIVVPcvH21X"></div>
  </fieldset>
  <fieldset class="field-group">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Submit
    </button>
  </fieldset>
</form>
